<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Send Mail Demo</title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    </head>
</head>
<body>
<center>
    <h1 class='alert alert-success'>Testing Demo Email Send</h1>
    <center>
        <h3>
            If you Want to Add Recepient Email than <a href="{% url 'takeEmail' %}">Click Here!</a><br><br>
            If you Want to Add Product and Send Mail than <a href="{% url 'information' %}">Click Here!</a>
        </h3>
    </center>
</center>
</body>

</html>